<h1>Market</h1>
<hr>
<!-- <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Serch people by name, email, or location..." ng-model="searchFilter">
      <br>
  </div> -->
<div class="col-sm-10">
    <form ng-submit="postSubmit()">
        <input type="text" class="form-control" placeholder="Item name" ng-model="post.name">
        <br>
        <input type="text" class="form-control" placeholder="Item description" ng-model="post.description">
        <br>
        <input type="text" class="form-control" placeholder="Item image" ng-model="post.image">
        <br>
        <input type="number" class="form-control" placeholder="starting price" ng-model="post.price">
        <br>
        <input type="datetime-local" min="2016-05-14" class="form-control" placeholder="Deadline" ng-model="post.deadline">
        <br>
        <button type="submit" class="btn btn-primary btn-xs">
            Post it to market
        </button>
    </form>
    <br>
</div>
<!-- <h4>{{(users | filter: searchFilter).length}} users found</h4> -->
<div class="col-sm-6 col-md-3" ng-repeat="post in posts">
    <div class="card" style="cursor: pointer;">
        <div class="imgContainer">
            <img class="card-img-top" src="{{post.image}}" style="max-width: 200px">
        </div>
        <div class="card-block">
            <h3>{{post.name}}</h3>
            <p >{{post.description}}</p>
            <h4 >{{post.price | currency : $}}</h4>
            <h4 >{{post.deadline | date : 'MMM-dd HH:mm:ss'}}</h4>
            <a ui-sref="item({id: post._id})" class="btn btn-primary">Go details</a>
        </div>
    </div>
    <!-- <div class="list-group" >
        <span href="#" class="list-group-item">
            <h5 class="list-group-item-text"></h5>
            <h5 class="list-group-item-text"></h5>
            <h3 class="list-group-item-text"></h3>
            <h5 class="list-group-item-text">@ {{post.time | date : 'MMM-dd HH:mm:ss'}}</h5>
            <br>
            <span class="btn btn-xs like" ng-click="like(post)">
            <span ng-if="post.likes.indexOf(currentUser._id)==-1 || post.thumbUp == false">
                <span>{{post.likes.length}}</span>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </span>
        <span class="btn-link" ng-if="post.likes.indexOf(currentUser._id)>-1 || thumbUp == true">
                <span>{{post.likes.length}}</span>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </span>
        </span>
        </span>
    </div> -->
</div>
