body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
/*.list-group-item:hover{
    box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: .1s all ease-in-out;
}*/
.logo {
    height: 400px;
    z-index: -1;
    position: absolute;
    bottom: -150px;
    right: -50px;
    opacity: 0.1;
}
button.btn, button.btn:focus{
    outline: none !important;
}
.like:hover{
    transform: scale(1.1);
    transition: .1s all ease-in-out;
}
.like:focus{
    transform: scale(0.95);
    transition: .1s all ease-in-out;
}
.card2 {
    border: 1px solid #eee;
    padding: 30px;
}
.card {
    border: 1px solid #eee;
    padding: 10px 20px 20px 20px;
}
.card .imgContainer{
    display: inline-block;
    margin: auto;
}

.imgContainer {
    overflow: hidden;
    width: 100%;
    height: 200px;
}
.imgContainer img{
    transform: scale(1.1);
    transition: .1s all ease-in-out;
}
.card:hover .imgContainer img{
    transform: scale(1.3);
    transition: .1s all ease-in-out;
}
